@media (max-width: 600px) {
  .header {
    flex-direction: column;
  }
  .logo {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid black;
    font-size: 4vw;
    height: 44px;
    align-items: center;
  }
  .logo h1 {
    font-size: 6vw;
  }
  .box {
    width: 100%;
    justify-content: space-between;
    margin: 2.6vw;
  }
  .img {
    max-width: 200px;
    height: 200px;
  }
  .content-sec {
    padding: 0;
  }
  .search-input input {
    width: 33vw;
  }
  .menu-sec {
    position: fixed;
    top: 90px;
  }
  .open-menu {
    width: 60vw;
  }
  .menu {
    margin: 0;
  }
  p {
    font-size: 6vw;
  }
  .login img {
    width: 8vw;
  }
  .menu-items > div {
    padding: 2vw 0;
    padding-left: 6vw;
  }
  footer p {
    font-size: 4vw;
  }
}
