@media (max-width: 600px) {
  .header {
    flex-direction: column;
  }
  .logo {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid black;
    font-size: 4vw;
    height: 44px;
    align-items: center;
  }
  .logo h1 {
    font-size: 6vw;
  }
  .box {
    width: 100%;
    justify-content: space-between;
    margin: 10px;
  }
  .img {
    max-width: 250px;
    height: 250px;
  }
  .img div {
    max-width: 250px;
    height: 250px;
  }
  .content-sec {
    padding: 0;
  }
  .content-sec:hover .img div {
    opacity: 1;
  }
  .content-sec:hover .img div:hover img {
    transform: scale(1);
  }
  .search-input input {
    width: 33vw;
  }
  .clean:hover {
    filter: opacity(1);
  }
  .menu-sec {
    position: fixed;
    top: 90px;
  }
  .open-menu {
    width: 60vw;
  }
  .menu {
    margin: 0;
  }
  p {
    font-size: 6vw;
  }
  .login img {
    width: 8vw;
  }
  .menu-items {
    margin-top: 2vw;
  }
  .menu-items > div {
    padding: 2vw 0;
    padding-left: 6vw;
  }
  .menu-items > div:not(:first-of-type):hover {
    background-color: white ;
  }
  footer {
    height: 80px;
    flex-direction: column;
  }
  footer p {
    font-size: 4vw;
  }
  footer .fimgs img {
    width: 6vw;
  }
}
