.menu {
  position: absolute;
  right: 2.5vw;
  top: 10px;
  width: 31px;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.menu-btn {
  position: relative;
  width: 31px;
  height: 5px;
  background-color: #04537D;
  border-radius: 5em;
}
.menu-btn::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: '';
  width: 31px;
  height: 5px;
  background-color: #04537D;
  border-radius: 5em;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.menu-btn::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: '';
  width: 31px;
  height: 5px;
  background-color: #04537D;
  border-radius: 5em;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.menu-icon-active {
  background-color: transparent;
}
.menu-icon-active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
.menu-icon-active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
.open-menu {
  transform: translateX(0%);
  width: 25%;
  transition: 0.5s;
}
.shr-menu {
  display: none;
}
.active-content {
  width: 70%;
}
