.pin{
    padding: 1vw 0;

}

.img{
    height: 20vw;
    //width: 14vw;
    border-radius: 1vw;
    &:hover{
        opacity: 0.65;
    }
    img{
        width: inherit;
        height: inherit;
        border-radius: inherit;
    }
}