.pin {
  padding: 10px 10px;
}
.pin .img div:hover {
  opacity: 1;
}
.img {
  height: 350px;
  width: 350px;
  display: flex;
  justify-content: center;
}
.img div {
  border-radius: 20px;
  overflow: hidden;
  height: 350px;
  max-width: 350px;
}
.img div:hover img {
  transform: scale(1.1);
}
.img img {
  height: inherit;
  border-radius: inherit;
}
.closed {
  display: none;
}
.opened {
  display: flex;
}
.selected-pin {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  z-index: 998;
  flex-direction: column;
  padding-top: 10px;
}
.close-pin {
  padding-left: 2.5vw;
}
.close-pin img {
  width: 50px;
  filter: invert(100%);
}
.close-pin img:hover {
  filter: invert(80%);
}
.opened-pin {
  display: flex;
  justify-content: center;
}
.opened-pin .pim {
  background-color: white;
  border-radius: 2rem;
  padding: 30px 30px;
}
.opened-pin .pim img {
  padding-bottom: 10px;
}
