.pin {
  padding: 1vw 0.3vw;
}
.img {
  height: 300px;
  max-width: 300px;
  border-radius: 1vw;
  overflow: hidden;
}
.img:hover {
  opacity: 0.65;
}
.img img {
  height: inherit;
  border-radius: inherit;
}
