

@dblue:#04537D;


.loupe{
    height: 20px;
    margin-bottom: -5px;
}

.search{
    border-bottom: 0.1vw solid @dblue;
    margin-left: auto;
}

.search-input{
    display: flex;
    input{
        border: none;
        padding-bottom: 5px;
        width: 169px;
        font-size: 13px;
    }
}

.clean{
    display: block;
    width:20px;
    height: 20px;
    margin-bottom: 5px;
}

.clean-btn{
    background: black;
    width: 20px;
    height: 2px;
    position: relative;
    top: 10px;
    transform: rotate(-45deg);
    &::before{
        content:'';
        background-color: black;
        width: 20px;
        height: 2px;
        position: absolute;
        transform: rotate(90deg);
    }
}

