

@dblue:#04537D;


.loupe{
    height: 20px;
}

// @keyframes colors {
//     0% {
//       background:  #e7e3e1;
//     }
//     10% {
//       background: rgb(180, 180, 180);
//     }
//     20% {
//         background:#e7e3e1;
//       }
//   }
//   .anim{
//     animation: colors 10s linear infinite;
//   }

// .anim:hover{
//     animation: none;
// }

.search{
    background-color: #e7e3e1;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    padding: 4px;
}

.search-input{
    display: flex;
    input{
        border: none;
        width: 170px;
        font-size: 13px;
        background-color: transparent;
    }
}

.clean{
    display: flex;
    align-items: center;
    width:20px;
    height: 20px;
    filter: contrast(120%);
    cursor: pointer;
    &:hover{
        filter: opacity(0.6);
    }
    img{
        height: inherit;
    }
}

