.loupe {
  height: 20px;
}
.search {
  background-color: #e7e3e1;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  padding: 4px;
}
.search-input {
  display: flex;
}
.search-input input {
  border: none;
  width: 170px;
  font-size: 13px;
  background-color: transparent;
}
.clean {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  filter: contrast(120%);
  cursor: pointer;
}
.clean:hover {
  filter: opacity(0.6);
}
.clean img {
  height: inherit;
}
