*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    transition: 0.5s;
    font-size: 15px;
}

@dblue:#04537D;

body{
    overflow-x: hidden;
}

p{
    font-size: 25px;
}

.header{
    -webkit-box-shadow: 0 0.195vw 0.32vw 0 rgba(128,128,128,1);
    -moz-box-shadow: 0 0.195vw 0.32vw 0 rgba(128,128,128,1);
    box-shadow: 0 0.195vw 0.32vw 0 rgba(128,128,128,1);
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 100;
    display: flex;
    padding:0 2.5vw;
    align-items: center;
}

.logo{
    width: 50%;
    h1{
        color: @dblue;
        font-weight: lighter;
        font-size: 32px;
    }
    //margin-right: 2vw;
}

.box{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    //border: 1px solid black;
    margin: 20px 0;
}

.main-block{
    display: flex;
    width: 100vw;
}

.content-sec{
    display: flex;
    flex-wrap: wrap;
    padding: 0 2vw;
    justify-content: space-evenly;
}

.wrapper{
    width: 100%;
    position: relative;
}

.menu-sec{
    -webkit-box-shadow: -0.26vw 0.065vw 0.455vw -0.065vw rgba(0,0,0,0.68);
    -moz-box-shadow: -0.26vw 0.065vw 0.455vw -0.065vw rgba(0,0,0,0.68);
    box-shadow: -0.26vw 0.065vw 0.455vw -0.065vw rgba(0,0,0,0.68);
    width: 0%;
    transform: translateX(100%);
    position: fixed;
    right: 0;
    top: 70px;
    z-index: 99;
    background-color: #fff;
    height: 100vh;
}

.menu-items{
    margin-top: 2vw;
}



.menu-items > div{
    display: flex;
    align-items: center;
    padding: 15px 0;
    padding-left: 50px;
    cursor: pointer;
    border-bottom: 1px solid black; 
    &:not(:first-of-type):hover{
        background-color: #e7e3e1 ;
    }
}

.login{
    img{
        width: 50px;
        margin-right: 20px;
    }
}



footer{
    background-color: #e7e3e1;
    color: @dblue;
    height: 10vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .fimgs img{
        width: 60px;
    }
}
